{% load i18n %}

{% block subject %}
{% blocktrans %}reset password on {{ site_name }}{% endblocktrans %}
{% endblock subject %}


{% block text_body %}
{% blocktrans %}You're receiving this email because you need to reset password on {{ site_name }}.{% endblocktrans %}

{% trans "Please go to the following page to reset password:" %}
{{ protocol }}://{{ domain }}:{{web_server_port}}{% url 'password_reset_confirm' token=token %}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}
{% endblock text_body %}


{% block html_body %}
<p>{% blocktrans %}You're receiving this email because you need to reset password on {{ site_name }}.{% endblocktrans %}</p>

<p>{% trans "Please go to the following page to reset password:" %}</p>
<p><a href="{{ protocol }}://{{ domain }}:{{web_server_port}}{% url 'password_reset_confirm' token=token %}">{{ protocol }}://{{ domain }}:{{web_server_port}}{% url 'password_reset_confirm' token=token %}</a></p>

<p>{% trans "Thanks for using our site!" %}</p>

<p>{% blocktrans %}The {{ site_name }} team{% endblocktrans %}</p>

{% endblock html_body %}